.dark {
  @import './scss/variables/dark/_index.scss';
  @import './scss/_index.scss';
}

.light {
  @import './scss/variables/light/_index.scss';
  @import './scss/_index.scss';
}



body {
  padding:0;
  margin:0;
  background:#0f1134;
  font-family: 'Chakra Petch', sans-serif;
}
