$main: #0f1134;
$main-lighter: #161956;
$secondary: #a2b7ff;
$color: #fff;
$secondary-color: #5cb700;
$alert-color: #ff0000;
$success-color: #5cb700;

//Chart
$main-chart-color: #131543;
$secondary-chart-color: $color;
